* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a98ac6;
}

.Time {
  color: aliceblue;
  font-size: 100px;
  text-shadow: 1px 1px #222020;
  position: absolute;
  top: 250px;
  left: 550px;
  border: solid 2px aliceblue;
  border-radius: 5px;
  padding: 50px;
  width: 450px;
}